<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Webservice TestSuite">
    <test verbose="2" preserve-order="true" name="TestCases">
        <classes>
            <class name="Rest.restTest"></class>
            <class name="Soap.soapTestRunner2"></class>
        </classes>
    </test>
</suite>